[submodule "blog-kotlin-ui"]
	path = blog-kotlin-ui
	url = https://github.com/categolj/blog-kotlin-ui.git
[submodule "feed"]
	path = feed
	url = https://github.com/categolj/feed.git
[submodule "blog-api"]
	path = blog-api
	url = git@github.com:categolj/blog-api.git
[submodule "blog-domain"]
	path = blog-domain
	url = git@github.com:categolj/blog-domain.git
[submodule "blog-mapper"]
	path = blog-mapper
	url = git@github.com:categolj/blog-mapper.git
