[submodule "blog-kotlin-ui"]
	path = blog-kotlin-ui
	url = https://github.com/categolj/blog-kotlin-ui.git
[submodule "feed"]
	path = feed
	url = https://github.com/categolj/feed.git
[submodule "blog-api"]
	path = blog-api
	url = https://github.com/categolj/blog-api.git
[submodule "blog-domain"]
	path = blog-domain
	url = https://github.com/categolj/blog-domain.git
[submodule "blog-mapper"]
	path = blog-mapper
	url = https://github.com/categolj/blog-mapper.git
[submodule "blog-updater"]
	path = blog-updater
	url = https://github.com/categolj/blog-updater.git
	branch = develop
[submodule "blog-webhook"]
	path = blog-webhook
	url = https://github.com/categolj/blog-webhook.git
	branch = develop
[submodule "blog-point"]
	path = blog-point
	url = https://github.com/categolj/blog-point.git
	branch = develop
